@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.2;
}

ol, ul, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  border-radius: 0;
}

@font-face {
  font-family: appGulim;
  font-style: normal;
  font-weight: lighter;
  src: url(../fonts/appGulimL.woff) format("woff");
}
@font-face {
  font-family: appGulim;
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/appGulimR.woff) format("woff");
}
@font-face {
  font-family: appGulim;
  font-style: normal;
  font-weight: bold;
  src: url(../fonts/appGulimB.woff) format("woff");
}
body, textarea, button {
  font-family: "Fredoka One", appGulim, sans-serif;
}

/* 말줄임 */ /**
 * Swiper 8.4.4
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * https://swiperjs.com
 *
 * Copyright 2014-2022 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: October 12, 2022
 */
@font-face {
  font-family: "swiper-icons";
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA");
  font-weight: 400;
  font-style: normal;
}
:root {
  --swiper-theme-color: #007aff;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
}

.swiper-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.swiper-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-pointer-events {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.swiper-pointer-events.swiper-vertical {
  -ms-touch-action: pan-x;
      touch-action: pan-x;
}

.swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

/* Auto Height */
.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: auto;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transition-property: height, -webkit-transform;
  transition-property: height, -webkit-transform;
  transition-property: transform, height;
  transition-property: transform, height, -webkit-transform;
}

.swiper-backface-hidden .swiper-slide {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* 3D Effects */
.swiper-3d,
.swiper-3d.swiper-css-mode .swiper-wrapper {
  -webkit-perspective: 1200px;
          perspective: 1200px;
}

.swiper-3d .swiper-wrapper,
.swiper-3d .swiper-slide,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-cube-shadow {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

.swiper-3d .swiper-slide-shadow {
  background: rgba(0, 0, 0, 0.15);
}

.swiper-3d .swiper-slide-shadow-left {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-right {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-top {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-bottom {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

/* CSS Mode */
.swiper-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
}

.swiper-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}

.swiper-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}

.swiper-horizontal.swiper-css-mode > .swiper-wrapper {
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}

.swiper-vertical.swiper-css-mode > .swiper-wrapper {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

.swiper-centered > .swiper-wrapper::before {
  content: "";
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-ordinal-group: 10000;
      -ms-flex-order: 9999;
          order: 9999;
}

.swiper-centered.swiper-horizontal > .swiper-wrapper > .swiper-slide:first-child {
  -webkit-margin-start: var(--swiper-centered-offset-before);
          margin-inline-start: var(--swiper-centered-offset-before);
}

.swiper-centered.swiper-horizontal > .swiper-wrapper::before {
  height: 100%;
  min-height: 1px;
  width: var(--swiper-centered-offset-after);
}

.swiper-centered.swiper-vertical > .swiper-wrapper > .swiper-slide:first-child {
  -webkit-margin-before: var(--swiper-centered-offset-before);
          margin-block-start: var(--swiper-centered-offset-before);
}

.swiper-centered.swiper-vertical > .swiper-wrapper::before {
  width: 100%;
  min-width: 1px;
  height: var(--swiper-centered-offset-after);
}

.swiper-centered > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: center center;
}

.swiper-virtual .swiper-slide {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.swiper-virtual.swiper-css-mode .swiper-wrapper::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}

.swiper-virtual.swiper-css-mode.swiper-horizontal .swiper-wrapper::after {
  height: 1px;
  width: var(--swiper-virtual-size);
}

.swiper-virtual.swiper-css-mode.swiper-vertical .swiper-wrapper::after {
  width: 1px;
  height: var(--swiper-virtual-size);
}

:root {
  --swiper-navigation-size: 44px;
  /*
  --swiper-navigation-color: var(--swiper-theme-color);
  */
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - var(--swiper-navigation-size) / 2);
  z-index: 10;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}

.swiper-button-prev.swiper-button-hidden,
.swiper-button-next.swiper-button-hidden {
  opacity: 0;
  cursor: auto;
  pointer-events: none;
}

.swiper-navigation-disabled .swiper-button-prev,
.swiper-navigation-disabled .swiper-button-next {
  display: none !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-family: swiper-icons;
  font-size: var(--swiper-navigation-size);
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 10px;
  right: auto;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: "prev";
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 10px;
  left: auto;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: "next";
}

.swiper-button-lock {
  display: none;
}

:root {
  /*
  --swiper-pagination-color: var(--swiper-theme-color);
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-width: 8px;
  --swiper-pagination-bullet-height: 8px;
  --swiper-pagination-bullet-inactive-color: #000;
  --swiper-pagination-bullet-inactive-opacity: 0.2;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 6px;
  */
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transition: 300ms opacity;
  transition: 300ms opacity;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  z-index: 10;
}

.swiper-pagination.swiper-pagination-hidden {
  opacity: 0;
}

.swiper-pagination-disabled > .swiper-pagination,
.swiper-pagination.swiper-pagination-disabled {
  display: none !important;
}

/* Common Styles */
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 10px;
  left: 0;
  width: 100%;
}

/* Bullets */
.swiper-pagination-bullets-dynamic {
  overflow: hidden;
  font-size: 0;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  -webkit-transform: scale(0.33);
          transform: scale(0.33);
  position: relative;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
  -webkit-transform: scale(0.66);
          transform: scale(0.66);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
  -webkit-transform: scale(0.33);
          transform: scale(0.33);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
  -webkit-transform: scale(0.66);
          transform: scale(0.66);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
  -webkit-transform: scale(0.33);
          transform: scale(0.33);
}

.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 8px));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 8px));
  display: inline-block;
  border-radius: 50%;
  background: var(--swiper-pagination-bullet-inactive-color, #000);
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.2);
}

button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}

.swiper-pagination-bullet:only-child {
  display: none !important;
}

.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
}

.swiper-vertical > .swiper-pagination-bullets,
.swiper-pagination-vertical.swiper-pagination-bullets {
  right: 10px;
  top: 50%;
  -webkit-transform: translate3d(0px, -50%, 0);
          transform: translate3d(0px, -50%, 0);
}

.swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: var(--swiper-pagination-bullet-vertical-gap, 6px) 0;
  display: block;
}

.swiper-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 8px;
}

.swiper-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet,
.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  display: inline-block;
  -webkit-transition: 200ms top, 200ms -webkit-transform;
  transition: 200ms top, 200ms -webkit-transform;
  transition: 200ms transform, 200ms top;
  transition: 200ms transform, 200ms top, 200ms -webkit-transform;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
}

.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  white-space: nowrap;
}

.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  -webkit-transition: 200ms left, 200ms -webkit-transform;
  transition: 200ms left, 200ms -webkit-transform;
  transition: 200ms transform, 200ms left;
  transition: 200ms transform, 200ms left, 200ms -webkit-transform;
}

.swiper-horizontal.swiper-rtl > .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  -webkit-transition: 200ms right, 200ms -webkit-transform;
  transition: 200ms right, 200ms -webkit-transform;
  transition: 200ms transform, 200ms right;
  transition: 200ms transform, 200ms right, 200ms -webkit-transform;
}

/* Progress */
.swiper-pagination-progressbar {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: left top;
          transform-origin: left top;
}

.swiper-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  -webkit-transform-origin: right top;
          transform-origin: right top;
}

.swiper-horizontal > .swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal,
.swiper-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,
.swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite {
  width: 100%;
  height: 4px;
  left: 0;
  top: 0;
}

.swiper-vertical > .swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-vertical,
.swiper-horizontal > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,
.swiper-pagination-progressbar.swiper-pagination-horizontal.swiper-pagination-progressbar-opposite {
  width: 4px;
  height: 100%;
  left: 0;
  top: 0;
}

.swiper-pagination-lock {
  display: none;
}

/* Scrollbar */
.swiper-scrollbar {
  border-radius: 10px;
  position: relative;
  -ms-touch-action: none;
  background: rgba(0, 0, 0, 0.1);
}

.swiper-scrollbar-disabled > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-disabled {
  display: none !important;
}

.swiper-horizontal > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
  position: absolute;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 98%;
}

.swiper-vertical > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-vertical {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 5px;
  height: 98%;
}

.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  left: 0;
  top: 0;
}

.swiper-scrollbar-cursor-drag {
  cursor: move;
}

.swiper-scrollbar-lock {
  display: none;
}

.swiper-zoom-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.swiper-zoom-container > img,
.swiper-zoom-container > svg,
.swiper-zoom-container > canvas {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.swiper-slide-zoomed {
  cursor: move;
}

/* Preloader */
:root {
  /*
  --swiper-preloader-color: var(--swiper-theme-color);
  */
}

.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  -webkit-transform-origin: 50%;
          transform-origin: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 4px solid var(--swiper-preloader-color, var(--swiper-theme-color));
  border-radius: 50%;
  border-top-color: transparent;
}

.swiper:not(.swiper-watch-progress) .swiper-lazy-preloader,
.swiper-watch-progress .swiper-slide-visible .swiper-lazy-preloader {
  -webkit-animation: swiper-preloader-spin 1s infinite linear;
          animation: swiper-preloader-spin 1s infinite linear;
}

.swiper-lazy-preloader-white {
  --swiper-preloader-color: #fff;
}

.swiper-lazy-preloader-black {
  --swiper-preloader-color: #000;
}

@-webkit-keyframes swiper-preloader-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes swiper-preloader-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/* a11y */
.swiper .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000;
}

.swiper-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  margin: 0 auto;
}

.swiper-grid > .swiper-wrapper {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.swiper-grid-column > .swiper-wrapper {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-fade.swiper-free-mode .swiper-slide {
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.swiper-fade .swiper-slide {
  pointer-events: none;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

.swiper-fade .swiper-slide .swiper-slide {
  pointer-events: none;
}

.swiper-fade .swiper-slide-active,
.swiper-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

.swiper-cube {
  overflow: visible;
}

.swiper-cube .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
  visibility: hidden;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  width: 100%;
  height: 100%;
}

.swiper-cube .swiper-slide .swiper-slide {
  pointer-events: none;
}

.swiper-cube.swiper-rtl .swiper-slide {
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
}

.swiper-cube .swiper-slide-active,
.swiper-cube .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

.swiper-cube .swiper-slide-active,
.swiper-cube .swiper-slide-next,
.swiper-cube .swiper-slide-prev,
.swiper-cube .swiper-slide-next + .swiper-slide {
  pointer-events: auto;
  visibility: visible;
}

.swiper-cube .swiper-slide-shadow-top,
.swiper-cube .swiper-slide-shadow-bottom,
.swiper-cube .swiper-slide-shadow-left,
.swiper-cube .swiper-slide-shadow-right {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.swiper-cube .swiper-cube-shadow {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  z-index: 0;
}

.swiper-cube .swiper-cube-shadow:before {
  content: "";
  background: #000;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  -webkit-filter: blur(50px);
          filter: blur(50px);
}

.swiper-flip {
  overflow: visible;
}

.swiper-flip .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
}

.swiper-flip .swiper-slide .swiper-slide {
  pointer-events: none;
}

.swiper-flip .swiper-slide-active,
.swiper-flip .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

.swiper-flip .swiper-slide-shadow-top,
.swiper-flip .swiper-slide-shadow-bottom,
.swiper-flip .swiper-slide-shadow-left,
.swiper-flip .swiper-slide-shadow-right {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.swiper-creative .swiper-slide {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  -webkit-transition-property: opacity, height, -webkit-transform;
  transition-property: opacity, height, -webkit-transform;
  transition-property: transform, opacity, height;
  transition-property: transform, opacity, height, -webkit-transform;
}

.swiper-cards {
  overflow: visible;
}

.swiper-cards .swiper-slide {
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
}

.non_scroll {
  overflow: hidden;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  position: relative;
}
.header .header_inner {
  position: relative;
  padding: 0 30px;
  width: 100%;
  background: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.header .header_inner.fixmenu {
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  z-index: 99;
  overflow: hidden;
  background: #ff60a3;
}
.header .header_inner .header_menu {
  position: relative;
  background: transparent;
  max-width: 1360px;
  margin: 0 auto;
}
.header .logo {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 13vw;
  max-width: 200px;
  max-height: 100px;
  min-width: 100px;
  min-height: 50px;
  background: url(../images/logo.png) no-repeat center;
  background-size: contain;
}
.header .header_bg {
  height: 550px;
  background: url(../images/head_back.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}
.header .header_bg .header_kirby {
  position: relative;
  width: 30vw;
  max-width: 400px;
  min-width: 280px;
  top: 50%;
  left: 50%;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: upDown;
          animation-name: upDown;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.header .header_bg .header_kirby img {
  width: 100%;
}
@-webkit-keyframes upDown {
  0% {
    -webkit-transform: translate(-50%, -45%);
            transform: translate(-50%, -45%);
  }
  50% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  100% {
    -webkit-transform: translate(-50%, -45%);
            transform: translate(-50%, -45%);
  }
}
@keyframes upDown {
  0% {
    -webkit-transform: translate(-50%, -45%);
            transform: translate(-50%, -45%);
  }
  50% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  100% {
    -webkit-transform: translate(-50%, -45%);
            transform: translate(-50%, -45%);
  }
}
@media (max-width: 640px) {
  .header .logo {
    top: 15px;
  }
  .header .btn_menu_open {
    position: absolute;
    right: 16px;
    top: 20px;
    width: 40px;
    height: 40px;
    background: transparent;
  }
  .header .btn_menu_open::after, .header .btn_menu_open::before {
    content: "";
    display: block;
    position: relative;
    width: 100%;
    height: 4px;
    background: #fff;
    border-radius: 10px;
  }
  .header .btn_menu_open span {
    display: block;
    position: relative;
    width: 100%;
    height: 4px;
    background: #fff;
    font-size: 0;
    border-radius: 10px;
    margin: 5px 0;
  }
  .header .gnb {
    display: block;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    border-radius: 0 0 20px 20px;
    background: #ff60a3;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    z-index: 99;
    -webkit-box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
  }
  .header .gnb.open {
    top: 0;
    padding: 40px;
  }
  .header .gnb a {
    display: block;
    font-size: 20px;
    color: #fff;
    margin: 20px 0;
    padding: 5px 0;
    border-bottom: 1px solid #ffc0cb;
  }
  .header .btn_menu_close {
    display: none;
    position: fixed;
    right: 45px;
    top: 20px;
    width: 40px;
    height: 40px;
    background: transparent;
    z-index: 100;
  }
  .header .btn_menu_close::after, .header .btn_menu_close::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 100%;
    height: 4px;
    background: #fff;
    border-radius: 10px;
  }
  .header .btn_menu_close::after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .header .btn_menu_close::before {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}
@media (min-width: 641px) {
  .header .btn_menu_open, .header .btn_menu_close {
    display: none;
  }
  .header .gnb {
    position: absolute;
    right: 30px;
    top: 35px;
    font-size: 20px;
    color: #fff;
  }
  .header .gnb ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .gnb li + li {
    margin-left: 50px;
  }
  .header .gnb a:hover {
    color: #e33c7f;
    -webkit-transition: all ease 0.2s;
    transition: all ease 0.2s;
  }
}
.header .line_bottom {
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 55px;
  background: url(../images/line-bottom-pink.png) transparent;
  background-repeat: repeat-x;
}

/*********** section 공통 ************/
section[class$=_section] {
  padding: 100px 0;
}
section[class$=_section] .sec_tit {
  color: #e33c7f;
  font-size: 35px;
  text-align: center;
  background: transparent;
}
section[class$=_section] .sec_tit::before {
  content: "";
  display: block;
  position: relative;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 40px;
  height: 40px;
  background: url(../images/star-pink.png) no-repeat;
  background-size: contain;
}
section[class$=_section] .sec_tit.typeA {
  margin-bottom: 5%;
}
section[class$=_section] .sec_tit.typeB {
  text-shadow: 0 0 5px #fff;
}

.inner {
  max-width: 1360px;
  padding: 0 30px;
  margin: 0 auto;
  font-size: 16px;
  color: #333;
  overflow: hidden;
}

/* introduce_section */
.introduce_section {
  background: url(../images/bg-pattern.png);
  background-size: 10%;
  background-attachment: fixed;
}
.introduce_section .subtit {
  margin-bottom: 55px;
  font-size: 24px;
  font-weight: bold;
  text-transform: capitalize;
}
.introduce_section .info {
  width: 60%;
  margin: 0 auto;
  min-width: 300px;
}
.introduce_section .info img {
  width: 100%;
  padding: 10px 0;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: swing;
          animation-name: swing;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@-webkit-keyframes swing {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
@keyframes swing {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
.introduce_section .txt strong {
  display: block;
  font-size: 40px;
  text-align: center;
  color: #e33c7f;
}
.introduce_section .txt span {
  display: block;
  font-size: 20px;
  color: #e33c7f;
}
.introduce_section .txt p {
  margin-top: 10px;
  padding: 0 20px;
  text-align: center;
}
@media (min-width: 1025px) {
  .introduce_section .cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .introduce_section .cont .col {
    width: 50%;
  }
  .introduce_section .cont .col + .col {
    margin-left: 10px;
    text-align: center;
    background: rgba(255, 255, 255, 0.5);
    padding: 50px 0;
    border-radius: 20px;
  }
}
@media (max-width: 640px) {
  .introduce_section .sec_tit::before {
    margin-top: 20px;
  }
}

/* gallery_section */
.gallery_section {
  position: relative;
  background: #ffcce7 url(../images/kirby-slide-img04.png) no-repeat;
  background-position: center center;
  background-size: auto 100%;
}
.gallery_section .line_top {
  position: absolute;
  top: -13px;
  left: 0;
  width: 100%;
  height: 20px;
  background: url(../images/line-top.png) transparent;
  background-repeat: repeat-x;
}
.gallery_section .line_bottom {
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 100%;
  height: 20px;
  background: url(../images/line-bottom.png) transparent;
  background-repeat: repeat-x;
}
.gallery_section img {
  width: 100%;
  border-radius: 20px;
}
.gallery_section .swiper {
  padding: 4vw 0;
}
.gallery_section .swiper-slide {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  -webkit-transition: -webkit-transform 0.8s, -webkit-filter 0.5s;
  transition: -webkit-transform 0.8s, -webkit-filter 0.5s;
  transition: transform 0.8s, filter 0.5s;
  transition: transform 0.8s, filter 0.5s, -webkit-transform 0.8s, -webkit-filter 0.5s;
  -webkit-filter: grayscale(0.7);
          filter: grayscale(0.7);
}
.gallery_section .swiper-slide strong {
  display: block;
  margin-top: 16px;
  font-size: 20px;
  font-weight: bold;
  color: #e33c7f;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  padding: 5px 0;
}
.gallery_section .swiper-slide p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  word-wrap: normal;
  margin-top: 8px;
  font-size: 14px;
}
.gallery_section .swiper-slide strong, .gallery_section .swiper-slide p {
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  text-align: center;
}
.gallery_section .swiper-slide-active {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}
.gallery_section .swiper-slide-active strong, .gallery_section .swiper-slide-active p {
  opacity: 1;
}
.gallery_section .swiper-slide-active img {
  border: 2px solid #e33c7f;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 640px) {
  .gallery_section .swiper-slide {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* charecter */
.charecter_section {
  background: url(../images/bg-pattern.png);
  background-size: 10%;
  background-attachment: fixed;
}
.charecter_section .char_item {
  margin-bottom: 30px;
  overflow: visible;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.charecter_section .char_item img {
  position: relative;
  display: block;
  width: 50%;
  margin: 0 auto;
  -webkit-transform: translateY(6%);
          transform: translateY(6%);
  -webkit-transition: -webkit-transform ease 0.2s;
  transition: -webkit-transform ease 0.2s;
  transition: transform ease 0.2s;
  transition: transform ease 0.2s, -webkit-transform ease 0.2s;
}
.charecter_section .char_item:hover img {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.charecter_section .char_item .txt_info {
  position: relative;
  text-align: center;
  border-radius: 20px;
  padding: 40px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}
.charecter_section .char_item .txt_info.kirby {
  background: #e52c77;
}
.charecter_section .char_item .txt_info.wd {
  background: #ff7f3b;
}
.charecter_section .char_item .txt_info.meta {
  background: #7819b9;
}
.charecter_section .char_item .txt_info.dewang {
  background: #2d41ba;
}
.charecter_section .char_item:hover .txt_info {
  -webkit-box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
}
@media (min-width: 1025px) {
  .charecter_section ul {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 50px;
       -moz-column-gap: 50px;
            column-gap: 50px;
  }
  .charecter_section .news_item {
    -webkit-column-break-inside: avoid;
       -moz-column-break-inside: avoid;
            break-inside: avoid-column;
  }
}

.character_pop {
  display: none;
}
.character_pop .dim {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 200;
}
.character_pop .kirby {
  background: -webkit-gradient(linear, left top, left bottom, from(#f36ba1), to(#e52c77));
  background: linear-gradient(to bottom, #f36ba1, #e52c77);
}
.character_pop .wd {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff9055), to(#ff7f3b));
  background: linear-gradient(to bottom, #ff9055, #ff7f3b);
}
.character_pop .meta {
  background: -webkit-gradient(linear, left top, left bottom, from(#a349df), to(#7819b9));
  background: linear-gradient(to bottom, #a349df, #7819b9);
}
.character_pop .dewang {
  background: -webkit-gradient(linear, left top, left bottom, from(#566ce4), to(#2d41ba));
  background: linear-gradient(to bottom, #566ce4, #2d41ba);
}
.character_pop div:nth-of-type(2):not(.txt_box) {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 200;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 30%;
  min-width: 250px;
  height: auto;
  padding: 50px;
  max-width: 1000px;
  -webkit-box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
  overflow-y: visible;
  border-radius: 20px;
  text-align: center;
}
.character_pop div:nth-of-type(2):not(.txt_box) h1 {
  position: relative;
  margin: 20px 0;
  font-size: 35px;
  color: #fff;
}
.character_pop div:nth-of-type(2):not(.txt_box) .txt_box {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  padding: 20px;
}
.character_pop div:nth-of-type(2):not(.txt_box) p {
  font-size: 15px;
}
.character_pop div:nth-of-type(2):not(.txt_box) .img_wrap {
  position: relative;
  width: 70%;
  margin: 0 auto;
}
.character_pop div:nth-of-type(2):not(.txt_box) img {
  display: block;
  width: 100%;
}
.character_pop div:nth-of-type(2):not(.txt_box) .btn_close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background: transparent;
  border-radius: 50%;
  border: 2px solid #fff;
}
.character_pop div:nth-of-type(2):not(.txt_box) .btn_close::after {
  content: "X";
  position: absolute;
  right: -2px;
  top: -1px;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  line-height: 50px;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}
.character_pop div:nth-of-type(2):not(.txt_box) .btn_close:hover::after {
  opacity: 0.5;
}

.wd-box {
  background: url(../images/bg-pattern.png);
  background-size: 10%;
  background-attachment: fixed;
  width: 100%;
  overflow: hidden;
  margin: -1px 0;
}

.charecter_bottom {
  width: 90%;
  height: 8.3vw;
  max-width: 1300px;
  min-height: 55px;
  margin: 0 auto;
  background: url(../images/character-bottom.png) no-repeat;
  background-size: 100% auto;
}

/* news */
.news_section {
  background: url(../images/bg-pattern.png);
  background-size: 10%;
  background-attachment: fixed;
}
.news_section .inner {
  text-align: center;
}
.news_section .news_item {
  margin-bottom: 30px;
  border-radius: 20px;
  background: #fff;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.news_section .news_item:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
}
.news_section .news_item .txt_info {
  padding: 30px;
}
.news_section .news_item .txt_info span {
  display: inline-block;
  margin-bottom: 5px;
  padding: 5px 10px;
  color: #fff;
  font-size: 12px;
  border-radius: 10px;
  text-transform: capitalize;
}
.news_section .news_item .txt_info span.campaign {
  background: #ff7f3b;
}
.news_section .news_item .txt_info span.event {
  background: #e33c7f;
}
.news_section .news_item .txt_info span.game {
  background: #444444;
}
.news_section .news_item .txt_info strong {
  display: block;
  font-size: 20px;
  font-weight: bold;
}
.news_section .news_item .txt_info p {
  margin-top: 10px;
  font-size: 15px;
  color: #999;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  word-wrap: normal;
}
.news_section .news_item img {
  display: block;
  width: 100%;
}
.news_section .btn_news_more {
  background: #e33c7f;
  width: 20%;
  min-width: 200px;
  padding: 10px 0;
  border-radius: 20px;
  color: #fff;
  font-size: 15px;
  border: 2px solid #fff;
}
@media (min-width: 641px) {
  .news_section ul {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
  .news_section .news_item {
    -webkit-column-break-inside: avoid;
       -moz-column-break-inside: avoid;
            break-inside: avoid-column;
  }
}
@media (min-width: 1025px) {
  .news_section ul {
    -webkit-column-count: 4;
       -moz-column-count: 4;
            column-count: 4;
  }
}

/* news_pop */
.news_pop {
  display: none;
}
.news_pop .dim {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 200;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.news_pop .content {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 200;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
  height: auto;
  padding: 50px;
  max-width: 1000px;
  background: #fff;
  -webkit-box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  border-radius: 20px;
}
.news_pop .content h1 {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 700;
  color: #e33c7f;
}
.news_pop .content p {
  margin-bottom: 20px;
  font-size: 15px;
}
.news_pop .content img {
  display: block;
  width: 80%;
  margin: 0 auto;
}
.news_pop .content .btn_close {
  position: absolute;
  right: 30px;
  top: 30px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: transparent;
}
.news_pop .content .btn_close::after {
  content: "X";
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
  color: #e33c7f;
  font-size: 40px;
  font-weight: bold;
  line-height: 40px;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}
.news_pop .content .btn_close:hover::after {
  opacity: 0.5;
}

/*푸터*/
.footer {
  background: #ff60a3;
  padding: 60px 0 40px 0;
}
.footer .inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  overflow: visible;
}
.footer .inner::before {
  content: "";
  position: absolute;
  top: -93px;
  left: 40px;
  display: block;
  width: 100px;
  height: 100px;
  background: url(../images/kirbyshot.png) no-repeat;
  background-size: contain;
}
.footer small {
  display: block;
  color: #fff;
  font-size: 12px;
  max-width: 1360px;
  padding: 10px 30px 0 30px;
  margin: 0 auto;
  font-family: appGulim, sans-serif;
  text-indent: 10px;
}
.footer .footer_logo_box {
  position: relative;
  width: 50%;
}
.footer .footer_logo_box a {
  display: block;
  width: 200px;
  height: 50px;
  background: url(../images/logo.png) no-repeat;
  background-size: contain;
}
.footer .footer_sns_box a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #fff;
  border: 2px solid #e33c7f;
  border-radius: 20px;
  text-align: center;
  font-size: 20px;
  color: #e33c7f;
  line-height: 40px;
}

.btn_scrollTop {
  position: fixed;
  bottom: 15%;
  right: 5%;
  width: 50px;
  height: 50px;
  background: #e33c7f;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  line-height: 50px;
  font-size: 25px;
  cursor: pointer;
  z-index: 100;
  opacity: 0;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
}
.btn_scrollTop.show {
  opacity: 1;
}
.btn_scrollTop::before {
  content: "";
  display: block;
  position: absolute;
  top: -70%;
  left: 0;
  width: 50px;
  height: 50px;
  background: url(../images/fivicon.png) no-repeat;
  background-size: contain;
  -webkit-transition: -webkit-transform ease 0.2s;
  transition: -webkit-transform ease 0.2s;
  transition: transform ease 0.2s;
  transition: transform ease 0.2s, -webkit-transform ease 0.2s;
}
.btn_scrollTop:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.4);
}
.btn_scrollTop:hover::before {
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}
@media (max-width: 640px) {
  .btn_scrollTop {
    width: 40px;
    height: 40px;
    font-size: 15px;
    line-height: 40px;
  }
  .btn_scrollTop::before {
    width: 40px;
    height: 40px;
  }
}/*# sourceMappingURL=style.css.map */